body {
  background-color: #2ABADC;
  }

hr {
  border-color: #FFE239;
  border-style: none;
  border-top-style: dotted ;
  border-width: 5px;
  width: 30%;
}

h1 {
  color: #FFE239;
}
h2 {
  color: #FFE239;
}
h3 {
  color: #25316D;
}

.logo {
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  
}

/*Navigation Bar*/

.searchbar {
  float: right;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.ytsubscribe {
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFE239;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FFE239;
  color: #2ABADC;
  font-style: Bold;
  font-size: 20px;
}



/* Footer */

.footer { 
  float:none;
}

footer {
  text-align: center;}
  
  .footer-container {
  
  display: flex;}
  
  .footer-container a {
  float: center;
  color: #FFE239;
  padding: 42px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;}
  
  .footer-left {
  margin-right: auto}
  
  .fa:hover {
  color: #45405F;}
  
  .footer-icons {
  justify-content: space-between;
  padding: 16px 64px 0px 0px}
  
  .footer-icons ul {
  list-style-type: none;}
  
  .footer-icons li {
  display: inline-block;}
  
  .footer-right {
  margin-left: auto}
  
  .copyright 
  {background-color: #2ABADC;
  overflow: hidden;}